/* #region CommentViewHeader */

.ncv-view-header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ccc;
}

.ncv-view-header-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}

.ncv-view-header-item-content {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.ncv-view-header-item-partition {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #999;
  user-select: none;
  cursor: col-resize;
}

.ncv-view-header-item-partition::before {
  content: "";
  position: absolute;
  min-width: 15px;
  transform: translateX(-50%);
  z-index: 1;
  height: 100%;
}

/* #endregion CommentViewHeader */


/* #region CommentView */

.ncv-view-body {
  display: flex;
  flex-flow: column;
}

.ncv-view-item {
  display: flex;
  border-bottom: dotted;
  box-sizing: border-box;
  border-width: 1px;
  /* background-color: #b7e8fd; */
  font-size: 20px;
}

.ncv-view-item-content {
  overflow-wrap: break-word;
}

/* 
.ncv-view-item:nth-child(even) {
  background: #add8e6;
}

.ncv-view-item:nth-child(odd) {
  background: #e0ffff;
} */

/* #endregion CommentViewHeader */