/* #region CommentViewHeader */

.comment-view-header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ccc;
}

.comment-view-header-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}

.comment-view-header-item-content {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-view-header-item-partition {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #999;
  user-select: none;
  cursor: col-resize;
}

.comment-view-header-item-partition::before {
  content: "";
  position: absolute;
  min-width: 15px;
  transform: translateX(-50%);
  z-index: 1;
  height: 100%;
}

/* #endregion CommentViewHeader */


/* #region CommentView */

.comment-view-body {
  display: flex;
  flex-flow: column;
}

.comment-view-item {
  background-color: #b7e8fd;
  font-size: 20px;
}

/* #endregion CommentViewHeader */