.virtual-list {
  background-color: #c1eaae;
  position: relative;
  overflow: auto;
  box-sizing: border-box;

}

/* .virtual-list::-webkit-scrollbar {
  display: none;
} */

.virtual-list-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: no-repeat url("https://img.freepik.com/free-photo/vertical-shot-old-fishing-boats-turned-upside-down-gloomy-sky_181624-39284.jpg?w=740&t=st=1699424432~exp=1699425032~hmac=a6e4f89a21aa022e1237485f87f7b3e654dc75adee71502f36da0f7f07fbba1c")
}

.virtual-list-lineup {
  position: sticky;
  inset: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.virtual-list-row {
  height: 40px;
  position: relative;
}